$font-family-sans-serif: "Raleway", "serif","Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$gray-600: #6c757d !default;
$gray-300: #dee2e6 !default;
$blockquote-footer-color:     $gray-300 !default;

.custom-blockquote {
  width:"100vw" !important;
  height:"30vh";
  padding:"1.5em";
  color:"hsla(331, 74%, 70%, 1.0)";
}