#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* media queries */
  @media (max-width: 411px) {
    /* portrait */
    padding: 0;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  font-family: revert;
  width: 100vw;
  padding: 1.5em;
  background-color: #f4f0ec;
  color: grey;

  /* media queries */
  @media (max-width: 411px) {
    /* portrait */
    padding: 0.25em;
  }
}

.block-hero-text {
  font-size: xx-large;
  margin-right: 0.5em;
  border-right: solid 1px #ccc;
  padding-right: 0.5em;
  align-self: center;
  /* media queries */
  @media (max-width: 411px) {
    /* portrait */
    padding-right: 0.5em;
  }
}

.block-text {
  padding: 1.5em;
}