@import "customVariables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar {
  z-index: 1050;
  width: 100vw;
}
.nav-open {
     /* media queries */
  @media (max-width: 768px) {
    /* portrait */
    position: absolute;
  }
}
button:focus:not(:focus-visible) {
  outline: none;
}
.navbar-toggler {
  border: none;
  z-index: 9999;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar > .container-fluid {
  justify-content: center;
}

.fade {
       /* media queries */
  @media (max-width: 768px) {
    /* portrait */
    animation: fading-in 1s linear forwards;
  }
  @media (min-width: 769px) {
        opacity: 100% !important;
}
    
}

@keyframes fading-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }